.sqldebug-container {
  display: flex;
}

.database-list {
  flex: 1;
  padding: 10px;
  border: 1px solid #9c9c9c;
  width: 30%;
}

.query-block {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.query-statement {
  flex: 1;
  padding: 10px;
  border: 1px solid #9c9c9c;
}

.query-result {
  flex: 1;
  padding: 10px;
  border: 1px solid #9c9c9c;
}
